@tailwind base;

@tailwind components;

body {
	 font-family: "Raleway", sans-serif;
	 padding: 20px;
	 margin: auto;
	 max-width: 75ch;
	 text-align: left;
	 word-wrap: break-word;
	 overflow-wrap: break-word;
	 line-height: 1.5;
}
h1 { 
	font-family: "Poppins", sans-serif; font-weight: 700;
}


.project-title {
	font-family:"Poppins", sans-serif; font-weight: 700;
}

.font-1 {
	font-family: "Poppins", sans-serif;
}
/* 000212 */
.background-color {
	@apply bg-[#fdfdfd] dark:bg-[#09090B];
}

.text-color-default {
	@apply text-slate-700 dark:text-slate-400;
}

.text-color-primary {
	@apply text-slate-800 dark:text-slate-200
}

.text-color-secondary {
	@apply text-teal-700 dark:text-teal-500;
}

.text-secondary {
	@apply text-slate-800 dark:text-slate-200;
}

.underline-text {
	@apply underline decoration-teal-700 dark:decoration-teal-500 decoration-2 underline-offset-2
}


.card-bg {
	@apply dark:bg-[#000000] ring-[1px] ring-slate-500 dark:ring-slate-400 shadow-md;
}

.achievment-title {
	@apply text-5xl text-secondary my-6 leading-tight;
}

.more-btn {
	@apply ring-2 dark:ring-teal-500 ring-teal-700 hover:dark:ring-teal-300 hover:dark:text-teal-300 hover:ring-teal-700 rounded-lg py-1 px-2 justify-center text-center flex w-24;
}

.hover-link {
	@apply hover:text-teal-700  hover:border-teal-700 border-2 border-transparent hover:dark:text-teal-500 hover:dark:border-teal-500 hover:no-underline;
}


.theme-toggle {
	@apply group-hover:text-teal-700 group-hover:dark:text-teal-500 w-5 h-5 text-gray-700 dark:text-gray-200 stroke-current fill-none;
}

.content {
	@apply text-color-default prose-lg md:prose-xl prose-a:text-teal-700 dark:prose-a:text-teal-500 prose-headings:text-slate-800 dark:prose-headings:text-slate-300;
}


.time-line-container {
	@apply relative before:absolute before:-ml-px before:mt-4 before:-mb-2 before:h-full before:max-h-[calc(100%-1.2rem)] before:w-0.5 before:rounded-full before:bg-teal-700 before:dark:bg-teal-500;
}

.time-line-container-headline {
	@apply text-2xl font-extrabold uppercase text-secondary text-left mb-4;
}

.time-line-section {
	@apply mt-16 max-w-2xl mx-auto;
}