---
import BaseLayout from "../layouts/BaseLayout.astro";
import PageTitle from "../components/PageTitle.astro";
---

<BaseLayout robots={false}>
  <div class="text-center mx-auto">
    <PageTitle text="Oops! Looks like you're lost ..." size="md" />
    <h2 class="text-xl">
      Maybe try to click<a href="/" class="mx-1 text-color-secondary">here</a
      >;-)
    </h2>
  </div>
</BaseLayout>
