---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="font-1">
    <h1 class="text-5xl text-color-primary text-center mb-8">Impressum</h1>
    <p class="mb-4">
      <b class="font-semibold text-xl">
        Informationen und Offenlegung gemäß &sect; 25 MedienG, &sect;5 (1) ECG
        &sect; 63 GewO und &sect; 14 UGB
      </b>
    </p>
    <p class="mb-4">
      <b>Betreiber der Webseite:</b> Thomas Teichmeister
    </p>
    <p class="mb-4">
      <b>Anschrift:</b> Salzburg, Österreich
    </p>
    <p class="mb-4">
      <b>Kontaktdaten:</b>
      <br /> Email: thomas.teichmeister@gmail.com <br />
    </p>

    <p class="mb-4">
      <b>Anwendbare Rechtsvorschrift:</b> www.ris.bka.gv.at <br />
    </p>
    <p class="mb-4">
      <b>Datenschutzerklärung:</b> Es werden auf dieser Website keine personenbezogenen
      Daten erhoben und verarbeitet. Die Nutzung der Website ist ohne Angabe von
      personenbezogenen Daten möglich.
    </p>
    <p class="mb-4">
      <b>Urheberrecht:</b>
      Die auf dieser Webseite zur Verfügung gestellten Inhalte unterliegen, soweit
      dies rechtlich möglich ist, diversen Schutzrechten (z.B dem Urheberrecht).
      Eine Verwendung oder Verbreitung von bereitgestelltem Material, bedarf der
      schriftlichen Zustimmung des Webseitenbetreibers.
    </p><p class="mb-4">
      <b>Haftungsausschluss:</b> Der Betreiber dieser Webseite hat alle Inhalte sowie
      ausgehende Links mit größtmöglichem Sorgfaltsmaßstab kontrolliert und ausgewählt.
      Trotzdem wird keine Haftung für den Inhalt externer Webseiten übernommen. Für
      diesen ist ausschließlich deren jeweiliger Betreiber verantwortlich. Für den
      Fall, dass Sie auf ausgehende Links aufmerksam werden, welche auf eine Seite
      mit rechtswidriger Tätigkeit oder rechtswidrigem Inhalt verweisen, ersuchen
      ich um entsprechenden Hinweis an die obig angeführte Email-Adresse, um betroffene
      Inhalt umgehend nach § 17 (2) ECG zu entfernen. <br /> Die Urheberrechte Dritter
      werden vom Betreiber dieser Webseite mit größter Sorgfalt beachtet. Sollten
      Sie auf eine Urheberrechtsverletzung aufmerksam werden, ersuchen wir auch um
      einen entsprechenden Hinweis. Bei Bekanntwerden derartiger Rechtsverletzungen
      wird der Webseitenbetreiber den betroffenen Inhalt umgehend entfernen.
    </p>
    <p>
      Quelle: <b
        ><a href="https://ghostweb.agency/datenschutz-generator/"
          >Datenschutz DSGVO Generator</a
        ></b>
    </p>
  </div>
</BaseLayout>
