---
import BaseLayout from "../layouts/BaseLayout.astro";
const txtColor =
  "bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 bg-clip-text text-transparent";
import Avatar from "../images/avatar.jpeg";
---

<BaseLayout>
  <div class="mb-4">
    <div class="flex flex-col-reverse md:flex-row">
      <div class="flex flex-col justify-center items-center md:items-start">
        <h1 class="text-4xl md:text-5xl text-orange-600">Hi I'm Thomas</h1>
        <!-- <h2 class="text-xl text-gray-700 dark:text-gray-300">
          I'm a Software Developer from Salzburg 🇦🇹
        </h2> -->
        <h2 class="text-xl text-gray-700 dark:text-gray-300 tracking-wider">
          Software Developer | Salzburg 🇦🇹
        </h2>
      </div>
      <div class="flex flex-row-reverse md:flex-row mb-4 mx-auto md:my-auto">
        <img
          src={Avatar}
          alt="Thomas Teichmeister"
          class="rounded-full"
          width="120"
          height="120"
        />
      </div>
    </div>
  </div>
  <p>
    Welcome to the official <a href="https://astro.build/">Astro</a> blog starter
    template. This template serves as a lightweight, minimally-styled starting point
    for anyone looking to build a personal website, blog, or portfolio with Astro.
  </p>
  <!-- 
  <p>
    This template comes with a few integrations already configured in your
    <code>astro.config.mjs</code> file. You can customize your setup with
    <a href="https://astro.build/integrations">Astro Integrations</a> to add tools
    like Tailwind, React, or Vue to your project.
  </p>
  <p>Here are a few ideas on how to get started with the template:</p>
  <ul>
    <li>Edit this page in <code>src/pages/index.astro</code></li>
    <li>
      Edit the site header items in <code>src/components/Header.astro</code>
    </li>
    <li>
      Add your name to the footer in <code>src/components/Footer.astro</code>
    </li>
    <li>
      Check out the included blog posts in <code>src/pages/blog/</code>
    </li>
    <li>
      Customize the blog post page layout in <code
        >src/layouts/BlogPost.astro</code
      >
    </li>
  </ul>
  <p>
    Have fun! If you get stuck, remember to <a href="https://docs.astro.build/"
      >read the docs
    </a> or <a href="https://astro.build/chat">join us on Discord</a> to ask questions.
  </p>
  <p>
    Looking for a blog template with a bit more personality? Check out <a
      href="https://github.com/Charca/astro-blog-template"
      >astro-blog-template
    </a> by <a href="https://twitter.com/Charca">Maxi Ferreira</a>.
  </p> -->
</BaseLayout>
