---
import BaseLayout from "../layouts/BaseLayout.astro";
import AchievmentItem from "../components/AchievmentItem.astro";
import { getProjects } from "../utils/api";
import PageTitle from "../components/PageTitle.astro";

const projects = await getProjects();
---

<BaseLayout>
  <PageTitle text="Projects" />
  <ul class="w-full">
    {
      projects.map((project) => (
        <li class="mx-auto">
          <AchievmentItem entry={project} />
        </li>
      ))
    }
  </ul>
</BaseLayout>
