---
import BaseLayout from "../layouts/BaseLayout.astro";
import AchievmentItem from "../components/AchievmentItem.astro";
import { getWorkExperiences } from "../utils/api";
import PageTitle from "../components/PageTitle.astro";

const workExperiences = await getWorkExperiences();
---

<BaseLayout>
  <PageTitle text="Work Experiences" />
  <ul class="w-full">
    {
      workExperiences.map((work) => (
        <li class="mx-auto">
          <AchievmentItem entry={work} />
        </li>
      ))
    }
  </ul>
</BaseLayout>
