---
import BaseLayout from "../layouts/BaseLayout.astro";
import WorkCard from "../components/WorkCard.astro";
import { getWorkExperiences } from "../utils/api";
import PageTitle from "../components/Title.astro";

const workExperiences = await getWorkExperiences();
---

<BaseLayout>
  <PageTitle text="Work Experiences" />
  <ul class="w-full">
    {
      workExperiences.map((work) => (
        <li class="max-w-md mx-auto">
          <WorkCard work={work} />
        </li>
      ))
    }
  </ul>
</BaseLayout>
