---
import BaseLayout from "../layouts/BaseLayout.astro";
import WorkCard from "../components/WorkCard.astro";
import { getWorkExperiences } from "../utils/api";

const workExperiences = await getWorkExperiences();
---

<BaseLayout>
  <h1
    class="mb-12 mx-auto text-5xl font-extrabold max-w-md text-secondary text-center"
  >
    Work Experiences
  </h1>
  <ul class="w-full">
    {
      workExperiences.map((work) => (
        <li class="max-w-md mx-auto">
          <WorkCard work={work} />
        </li>
      ))
    }
  </ul>
</BaseLayout>
