---
interface Props {
  path: string;
  text: string;
}

const { path, text } = Astro.props;
---

<a href={path} class="flex items-center">
  <span class="my-auto mr-1">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="w-4 h-4 stroke-700 dark:stroke-teal-500 stroke-teal-700"
      ><line x1="19" x2="5" y1="12" y2="12"></line><polyline
        points="12 19 5 12 12 5"></polyline></svg
    >
  </span>
  <span class="text-md hover:text-teal-700 hover:dark:text-teal-400"
    >{text}</span
  >
</a>
