---
import Title from './Title.astro';
interface Props {
  title: string;
  link: string;
  subtitle?: string;
  shortDescription: string;
}

const { title, link, subtitle, shortDescription } = Astro.props;
---

<div class={`flex justify-start rounded-lg p-6 mx-auto card-bg mb-4 `}>
  <div class="block">
    <h2 class={`project-title text-secondary`}>
      {title}
    </h2>
    {
      subtitle && (
        <h3 class={`px-1 mt-2 text-md text-color-default`}>{subtitle}</h3>
      )
    }
    <p class={`text-secondary mb-4 mt-2`}>
      {shortDescription}
    </p>
    <a
      class={`more-btn text-color-secondary`}
      href={link}
      aria-label="Read more about this article"
    >
      Read
      <span class="my-auto ml-1">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="w-4 h-4"
          ><line x1="7" x2="17" y1="17" y2="7"></line><polyline
            points="7 7 17 7 17 17"></polyline></svg
        >
      </span>
    </a>
  </div>
</div>
