---


interface Props {
  title: string;
  link: string;
  subtitle?: string;
  shortDescription: string;
}

const { title, link, subtitle, shortDescription } = Astro.props;
---

<a
  class={`flex justify-start max-w-md rounded-lg shadow-xl p-6 mx-auto card-bg mb-4`}
  href={link}
>
  <div class="block">
    <h3 class={`project-title text-secondary`}>
      {title}
    </h3>
    {subtitle && <h4 class={`px-1 mt-1 text-sm text-default`}>{subtitle}</h4>}
    <p class={`text-secondary mb-4`}>
      {shortDescription}
    </p>
    <span class={`more-btn heading-1`}> Read more &rarr;</span>
  </div>
</a>
