---
import { OWNER } from "../config";

import Socials from "./Socials.astro";
const today = new Date();
---

<footer>
  <div class="mt-8 mb-4 text-gray-700 dark:text-slate-400 text-lg">
    &copy; {today.getFullYear()}
    <a href="/" class="text-color-secondary">
      {OWNER}.
    </a>
    All rights reserved.
    <br />
    <div class="text-sm mt-2">
      Built with
      <a href="https://astro.build/" class="underline-text">Astro</a>, <a
        href="https://tailwindcss.com/"
        class="underline-text">Tailwind CSS</a
      >, <a href="https://preactjs.com/" class="underline-text">Preact</a> and hosted
      on <a href="https://vercel.com/" class="underline-text">Vercel</a>
    </div>
  </div>
  <Socials />
  <div>
    <a
      class="text-color-default hover:dark:text-teal-500 hover:text-teal-700 text-lg mt-4"
      href="/impressum">Impressum</a
    >
  </div>
</footer>
<style>
  footer {
    padding: 25px;
    text-align: center;
  }
</style>
