---
import { OWNER } from "../config";
const today = new Date();
---

<footer>
  <div class="font-poppins text-gray-700 dark:text-slate-400">
    &copy; {today.getFullYear()}
    <a href="/" class="text-teal-600 dark:text-teal-500">
      {OWNER}.
    </a>
    All rights reserved.
  </div>
</footer>
<style>
  footer {
    padding: 25px;
    text-align: center;
  }
</style>
