---
const { href } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");

const defaultClass =
  "uppercase p-1 sm:px-3 sm:py-2 rounded-lg transition-all tracking-wide";

const activeClass = "font-semibold text-gray-800 dark:text-slate-300";
const inactiveClass = "font-normal text-gray-700 dark:text-slate-400";
const linkClass = isActive ? activeClass : inactiveClass;
---

<a
  href={href}
  class:list={[
    defaultClass,
    linkClass,
    "hover:ring-amber-600 hover:ring-2 hover:text-amber-600",
    "hover:dark:ring-amber-500 hover:dark:text-amber-500",
  ]}
>
  <slot />
</a>

<!-- <a
  href={href}
  class:list={[
    defaultClass,
    linkClass,
    "hover:bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 hover:bg-clip-text hover:text-transparent",
    "dark:hover:bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 dark:hover:bg-clip-text dark:hover:text-transparent",
  ]}
>
  <slot />
</a> -->
