---
---

<div class="mt-6 flex items-center mb-8">
  <a href="/projects" class="justify-center">
    <span class="text-teal-700 dark:text-teal-500">&larr;</span>
    <span
      class="text-md hover:text-teal-700 hover:dark:text-teal-400"
      onclick="history.back()">Go back</span
    >
  </a>
</div>
