---
const { href } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");

const defaultClass =
  "uppercase p-1 sm:px-3 sm:py-2 rounded-lg transition-all tracking-wide";

const activeClass = `font-semibold text-secondary underline-text`;
const inactiveClass = `font-normal text-color-default`;
const linkClass = isActive ? activeClass : inactiveClass;
---

<a href={href} class:list={[defaultClass, linkClass, "hover-link"]}>
  <slot />
</a>
