---
import NavBarLink from "./NavBarLink.astro";
import RootLink from "./RootLink.astro";
import ThemeToggle from "./ThemeToggle";
import SmallMenu from "./SmallMenu";
---

<header>
  <nav class="mb-12 text-lg">
    <ul class="flex flex-row list-none items-center md:justify-between">
      <li>
        <RootLink>
          <>tteichmeister</>
        </RootLink>
      </li>
      <li class="w-full">
        <ul class="flex flex-row justify-end items-center">
          <li class="hidden md:inline-block mr-1">
            <NavBarLink href={"/work"}>Work</NavBarLink>
          </li>
          <li class="hidden md:inline-block mr-1">
            <NavBarLink href={"/projects"}>Projects</NavBarLink>
          </li>
          <!-- <li class="hidden md:inline-block mr-1">
            <HeaderLink href={"/education"}>Education</HeaderLink>
          </li> -->
          <li class="mb-1">
            <ThemeToggle client:only />
          </li>
          <li class="mx-1 mb-1 md:hidden justify-self-end">
            <SmallMenu activeUrl={Astro.url.pathname} client:load />
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
