---
---

<a
  href={"/"}
  class:list={[
    "lowercase inline-block p-4",
    "text-3xl lowercase font-medium",
    "text-teal-600 dark:text-teal-500",
    // "bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 bg-clip-text text-transparent",
  ]}
>
  <slot />
</a>
