---
import Tag from "./Tag.astro";

interface Props {
  tags: string[];
}

const { tags } = Astro.props;
---

<div class="my-12 flex flex-wrap mx-auto max-w-lg justify-center">
  {tags.map((tag: string) => <Tag tag={tag} />)}
</div>
