---
import { getCollection } from "astro:content";

import BaseLayout from "../../layouts/BaseLayout.astro";
export async function getStaticPaths() {
  const projects = await getCollection("projects");
  return projects.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BaseLayout>
  <h1 class={`text-3xl text-secondary mb-6 `}>
    {entry.data.title}
  </h1>
  <div
    class={`text-default prose lg:prose-lg prose-a:text-teal-600 dark:prose-invert dark:prose-a:text-teal-500 prose-headings:text-slate-800 dark:prose-headings:text-slate-300`}
  >
    <Content />
  </div>
</BaseLayout>
